.add-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1.5rem;

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-top: 1rem;
        font-weight: bold;
    }

    input,
    textarea {
        padding: 0.5rem;
        border-radius: 6px;
        border: 1px solid #ccc;
    }

    button {
        margin-top: 1.5rem;
        padding: 0.7rem;
        background-color: #28a745;
        border: none;
        color: white;
        font-size: 1rem;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            background-color: #218838;
        }
    }
}